  body{
    border-top: none;
  }


.neodent-header{
  background:url('../img/doc.jpg') fixed center bottom no-repeat;
  height:360px;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.neodent-overlay{
  position: absolute;
  height:360px;
  width: 100%;
  background-color: rgba(77, 178, 188, 0.6);
}

.neodent-logo{
  text-align: center;
  padding-top:100px;
}

.neodent-about{
  width: 100%;

}


.neodent-navr{line-height:40px;text-align:center;}

.neodent-about h1{
  text-align: center;
  font-weight: 300;
  color: #333;
}

.neodent-about p{
  padding-top: 20px;
  padding-bottom: 40px;
  font-size: 18px;
  color: #333;
  padding-right: 15px;
  padding-left: 15px;
}

.neodent-concept div{
    text-align: center;
}

.neodent-concept h5{
  padding-top:20px;
  padding-bottom:40px;
  text-transform: uppercase;
  color: #333;  
}



.neodent-concept h4{
  text-transform: uppercase;
  color: #333;
  padding-bottom: 40px;
    padding-right: 15px;
  padding-left: 15px;
}

.neodent-colors{
  padding-bottom:60px;
  padding-top: 40px;
}

.neodent-colors h4 {
  text-transform: uppercase;
  color: #333;
  padding-bottom: 40px;
    padding-right: 15px;
  padding-left: 15px;
}

.color{
  display:block;
  margin:0 auto;
  width:100px;
  height:100px;
}

.color-hex{
  padding-top:20px;
  padding-bottom:40px;
  text-transform: uppercase;
  color: #333;  
  text-align: center;
}


.neodent-drawings{
  background:url('../img/neodent-drawings.jpg') fixed center bottom no-repeat;
  height:300px;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.drawings-overlay{
  position: absolute;
  height:300px;
  width: 100%;
  background-color: rgba(77, 178, 188, 0.6);
  text-align:center;
}

.neodent-nav{
  height:40px;
  background:rgba(255, 255, 255, 0.16);
  position:absolute;
  top:0;
  left:0;
  right:0;
}

.neo-mar{margin:0 auto !important;}
.neo-a{padding-top:22px;}

.show-img{padding-top:5px;padding-bottom:5px;}


.container{padding-left:120px;padding-right:120px;}









  /*==========  Non-Mobile First Method  ==========*/

    /* Large Devices, Wide Screens */
    @media only screen and (max-width : 1200px) {

    }

    /* Medium Devices, Desktops */
    @media only screen and (max-width : 992px) {

    }

    /* Small Devices, Tablets */
    @media only screen and (max-width : 768px) {
      .container{padding-left:15px !important; padding-right:15px !important;}

    } 

    /* Extra Small Devices, Phones */ 
    @media only screen and (max-width : 480px) {

    }

    /* Custom, iPhone Retina */ 
    @media only screen and (max-width : 320px) {

    }