
/*
header{
  background:url('../img/cover5.jpg') fixed no-repeat;
	height:100vh;
	width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}



.overlay {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:rgba(30, 44, 63, 0.3);
    color:white;
}
*/





header{
  height:100vh;
  width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.overlay {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:rgba(30, 44, 63, 0.6);
    color:white;
}


body{
	text-rendering:optimizelegibility;
	border-top:2px solid #d32f2f;
	font-family: 'Open Sans', sans-serif !important;
}


video#bgvid {
  position: absolute; 
  right: 0; 
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  width: auto; 
  height: auto; 
  z-index: -99999;
  background: url('../img/moskva.jpg') no-repeat;
  background-size: cover;
}




.logo{  
	padding: 30px;
	position:relative;
}




.scroll-down{
  position: absolute;
  z-index: 100;
  opacity: 0.5;
  left: 50%;
  width: 40px;
  margin-left: -20px;
  bottom: 20px;
  -webkit-transition: all .35s ease-in-out;
     -moz-transition: all .35s ease-in-out;
    -ms-transition: all .35s ease-in-out;
     -o-transition: all .35s ease-in-out;
      transition: all .35s ease-in-out;
}

@keyframes arrows {
  0% { bottom:20px; }
  10% { bottom:40px; }
  20% { bottom:20px; }
  30% { bottom:40px; }
  40% { bottom:20px; }
  50% { bottom:40px; }
  60% { bottom:20px; }
  70% { bottom:40px; }
  80% { bottom:20px; }
  90% { bottom:40px; }
  100% { bottom:20px; }
}

@-webkit-keyframes arrows {
  0% { bottom:20px; }
  10% { bottom:40px; }
  20% { bottom:20px; }
  30% { bottom:40px; }
  40% { bottom:20px; }
  50% { bottom:40px; }
  60% { bottom:20px; }
  70% { bottom:40px; }
  80% { bottom:20px; }
  90% { bottom:40px; }
  100% { bottom:20px; }
}

@-moz-keyframes arrows {
  0% { bottom:20px; }
  10% { bottom:40px; }
  20% { bottom:20px; }
  30% { bottom:40px; }
  40% { bottom:20px; }
  50% { bottom:40px; }
  60% { bottom:20px; }
  70% { bottom:40px; }
  80% { bottom:20px; }
  90% { bottom:40px; }
  100% { bottom:20px; }
}

@-ms-keyframes arrows {
  0% { bottom:20px; }
  10% { bottom:40px; }
  20% { bottom:20px; }
  30% { bottom:40px; }
  40% { bottom:20px; }
  50% { bottom:40px; }
  60% { bottom:20px; }
  70% { bottom:40px; }
  80% { bottom:20px; }
  90% { bottom:40px; }
  100% { bottom:20px; }
}

@-o-keyframes arrows {
  0% { bottom:20px; }
  10% { bottom:40px; }
  20% { bottom:20px; }
  30% { bottom:40px; }
  40% { bottom:20px; }
  50% { bottom:40px; }
  60% { bottom:20px; }
  70% { bottom:40px; }
  80% { bottom:20px; }
  90% { bottom:40px; }
  100% { bottom:20px; }
}

.scroll-down {
  -webkit-animation: arrows 8.8s infinite;
     -moz-animation: arrows 8.8s infinite;
    -ms-animation: arrows 8.8s infinite;
     -o-animation: arrows 8.8s infinite;
      animation: arrows 8.8s infinite;
  -webkit-animation-delay: 1s;
     -moz-animation-delay: 1s;
    -ms-animation-delay: 1s;
     -o-animation-delay: 1s;
      animation-delay: 1s;
  cursor:pointer;
}

.scroll-down:hover{
  opacity: 1;
}


.cust-butt{
  padding-left: 25px !important; 
  padding-right: 25px !important;
  padding-top:8px !important;
  padding-bottom:8px !important;
  font-size:20px !important;
  border-radius:2px !important;
  font-weight:400 !important;
}

.headline{
	font-weight:300;
	font-size:3.571em;
	line-height:70px
}

.sub-headline{
  padding-top:50px;
  font-weight: 300;
  text-transform: uppercase;
}

.phone{
	position:absolute;
	bottom:-2px;right:0;
}

.windows{
	position:relative;
	width:44px;
	height: 44px;
	background:rgba(255, 255, 255, 0.3) center no-repeat;
	background-image: url('../img/windows.svg');
}

.android{
	position:relative;
	width:44px;
	height: 44px;
	background:rgba(255, 255, 255, 0.3) center no-repeat;
	background-image: url('../img/android.svg');
}

.apple{
	position:relative;
	width:44px;
	height: 44px;
	background:rgba(255, 255, 255, 0.3) center no-repeat;
	background-image: url('../img/apple.svg');
}




.active{
  color:red !important;
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}


/*----------------------------------------------------------------------------------------
						MAIN NAVIGATION STYLES
----------------------------------------------------------------------------------------*/
nav.navbar-fixed-top {
  height: 60px;
  background: rgba(30, 44, 63, 0.9);
  color: #fff;
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  -ms-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}
nav.navbar-slide {
  top: -60px;
}
nav.navbar-slide.show-menu {
  top: 0;
}
.navbar .nav {
  list-style: none;
  float: right;
  z-index: 5;
  margin: 0;
}
.navbar .nav li {
  float: left;
  padding: 0;
}
.navbar .nav li a {
  display: block;
  font-size: 14px;
  height: 60px;
  line-height: 60px;
  padding: 0 20px;
  text-decoration: none;
  outline: none;
  background: inherit;
  color: #fff;
}
.navbar .nav li a:hover,
.navbar .nav li.active a {
  background: none;
  color: #00c0ff;
}
.navbar .nav li a.main-btn,
.navbar .nav li a.main-btn:hover,
.navbar .nav li.active a.main-btn {
  background: #00c0ff;
  font-weight: bold;
  color: #fff;
}
.navbar > .container .navbar-brand,
.navbar > .container-fluid .navbar-brand {
  height: 60px;
  margin: 0;
  padding: 15px 0 0 0;
}
.navbar-toggle {
  float: right;
  height: 60px;
  margin: 0;
  padding: 0;
}
.navbar-toggle .icon-bar {
  background: #00c0ff;
  height: 2px;
  border-radius: 2px;
}
.navbar-toggle.collapsed .icon-bar {
  background: #fff;
}
.navbar-toggle .icon-bar + .icon-bar {
  margin-top: 6px;
}
.navbar-toggle.round-toggle .icon-bar {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  display: inline-block;
}
.navbar-toggle.round-toggle .icon-bar + .icon-bar {
  margin-top: 0;
  margin-left: 3px;
}
.navbar-fixed-top {
  border-width: 0;
}
.navbar .main-btn .icon {
  font-size: 16px;
  margin-left: 3px;
}
@media (max-width: 758px) {
  nav .container {
    width: 100%;
  }
  .navbar-collapse {
    padding: 0;
    background: rgba(30, 44, 63, 0.9);
    margin: 60px 0 0 0;
  }
  .navbar .nav {

    float: none;
    text-align: center;
  }
  .navbar .nav li {
    float: none;
  }
  .navbar .nav li a:not(.main-btn) {
  }
  .navbar .nav li a:hover,
  .navbar .nav li.active a {

  }
}











  /*==========  Non-Mobile First Method  ==========*/

    /* Large Devices, Wide Screens */
    @media only screen and (max-width : 1200px) {

    }

    /* Medium Devices, Desktops */
    @media only screen and (max-width : 992px) {
    	.phone{display:none !important;}
    }

    /* Small Devices, Tablets */
    @media only screen and (max-width : 768px) {

    }	

    /* Extra Small Devices, Phones */ 
    @media only screen and (max-width : 480px) {
    	.headline{font-size:2.8em;line-height: 50px;}
    }

    /* Custom, iPhone Retina */ 
    @media only screen and (max-width : 320px) {
        .headline{font-size:2em;line-height: 40px;}
    }